@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700');

body {
  background-color: #F0F0F0;
  color: #1D1D1D;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}
.mono {
  font-family: 'Source Code Pro', monospace;
  font-size: 42px;
  word-wrap: break-word;
}
.terminal {
  height: 300px;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
}
.wrapper {
  padding: 10px;
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
.maciek-chmura {
  margin-top: 20px;
  font-weight: 700;
  font-size: 30px; 
  text-transform: uppercase;
}
.nav {
  
}
.terminal {
  height: 40vh;
  
}
section {
  /*background-color: rgb(189, 189, 189); */
  
  
}
.line {
  height: 1px;
  max-width: 800px;
  background-color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-title {
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 16px;

}
.projects {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.project {
  margin: 5px;

  display: flex;
  justify-content: space-between;
  width: 70%;
  min-height: 120px;
  border-radius: 5px;
  background-color: #ff1162; 

}
.project-img {
  flex: 0 0 100px;;
  margin: 10px;
  height: 100px;
}
.pika {
  image-rendering: pixelated;
  background-image: url("./img/1b.png");
  background-repeat: no-repeat;
}
.project-text {
  flex: 0 1 600px;
  margin: 10px;
  padding: 10px;
  min-height: 100px;
  font-family: "Press Start 2P"
}
.resume {
  
}
.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.resume-header {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  min-width: 220px;
}
.key-value {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.resume-key {
  font-size: 1rem;
  width: 140px;
  margin-right: 20px;
  text-align: right;
  flex: 0 1 auto;
}
.resume-value {
  display: flex;
  font-size: 1rem;
  flex: 0 1 auto;
}
.resume-p {
  margin-left: 20px;
  margin-right: 20px;
}
.date {
  font-weight: 300;
  margin-bottom: -16px;
}
.contact {
  
}
.fa {
  padding-right: 5px;
}
.contact-items {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
progress {
  margin-top: 6px;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  
  height: 6px;
  margin-bottom: 4px;
}
progress[value]::-webkit-progress-bar {
  background-color: #E4E4E4;
  border-radius: 4px;
  
}
progress[value]::-webkit-progress-value {
  background-image:
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #FDA222, #ff1162);
  border-radius: 4px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
  transition: transform 2s;
  }


@media (max-width: 500px) {
  .mono {
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
    word-wrap: break-word;
  }
  .terminal {
    height: 300px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .project {
    margin: 5px;
  
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 120px;
    border-radius: 5px;
    background-color: #ff1162; 
  
  }
  .maciek-chmura {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px; 
    text-transform: uppercase;
  }
  
}